body {
  display: inline-flex;
  font-family: cursive;
  background-color: black;
  border-style: double ;
  border-color: rgb(126, 0, 245);
}

#navbar{
  background-color: rgba(255, 0, 179, 0.877);
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 1em;
  top: 3em;
  opacity: 50%;
}

#navbar:hover{
  opacity: 100%;
}

.navspace{
  padding: 10px;
  display: inline-flex;
}

.gridContainer{
  display: grid;
  grid-template: 100px 100px 1fr 1fr 1fr / repeat(2, 1fr);
  grid-template-areas: 
  "header header"
  "header2 header2"
  "aboutMe image"
  "skills work"
  "footer footer";
  row-gap: 5px;
  color: rgb(184, 24, 216);
}

.header{
  grid-area: header;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header2{
  grid-area: header2;
  display: flex;
  justify-content: center;
}

.aboutMe{
  grid-area: aboutMe;
  display: flex;
  justify-content: center;
  padding: 1px 15px;
}

.imageContainer {
  grid-area: image;
  display: block;
  clear: both;
  height: auto;
  width: 100%;
  min-width: 0%;
  min-height: 0%;
  object-fit: contain
  overflow: hidden;
}



.image{
  flex-shrink: 100%;
}

.image:hover{
  transform: scale(110%);
  transition: transform 2s
}

.skills{
  grid-area: skills;
  display: flex;
  justify-content: center;
}

.work{
  grid-area: work;
  display: flex;
  justify-content: center;
  margin: 0 10px;
}

.footer{
  grid-area: footer;
  display: flex;
  justify-content: center;
}

.list{
  margin: 0 10px;
  padding: 0;
  list-style: none;
}
